*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border;
}

ul,li,ol{
    list-style-type: none;
}

input,select,textarea{
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
body,
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

a{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

/* Header */
header{
    background: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.411)),  url("../images/header.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.header-content{
    display: flex;
    color: #fff;
    flex-direction: column;
    text-align: center;
}

.header-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
}

.header-text p::after{
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #c59a6d ;
    margin: 30px auto;
}

.header-text h1{
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 0;
    border: 2px solid #fff;
    padding: 10px 30px;
    
}

nav.menu i{
    font-size: 24px;
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    
}

.header-icon i{
    border: 1px solid #c59a6d;
    padding: 6px 8px;
    transition: 300ms all;
    cursor: pointer;
}

.meet-icon i{
    border: 1px solid #c59a6d;
    padding: 6px 8px;
    transition: 300ms all;
    cursor: pointer;
    color: #c59a6d;
}

.header-icon i:hover, .meet-icon i:hover, .service-icon i:hover{
    background-color: #c59a6d;
    color:#fff;
}

/* Meet */
#meet{
    padding: 90px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.meet-text{
    text-align: center;
    width: 56%;
}

.meet-text h2::after{
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #c59a6d ;
    margin: 30px auto;
}

.meet-text p{
    font-size: 18px;
    font-weight: 550;
    line-height: 36px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* Video */

#video{
    background: linear-gradient(rgba(0, 0, 0, 0.26),rgba(0, 0, 0, 0.432)),
     url("../images/video.jpg") no-repeat center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.video i{
    font-size: 36px;
    color: #fff;
    cursor: pointer;
    transition: 300ms all;
}

.video i:hover{
    font-size: 40px;
}

/* Service */

#service{
    padding: 90px 0;
}

.service{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tittle h2::after{
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #c59a6d ;
    margin: 30px auto;
}

.tittle{
    width: 66%;
    margin-bottom: 90px;
}

.tittle p{
    font-size: 16px;
    font-weight: 550;
    line-height: 36px;
}

.service-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
    height: 500px;
}
 
.service-item,
.service-item1,
.service-item2{
    width: 32%;
    border: 1px solid #8e9297;
    padding: 80px 15px;
    box-sizing: border-box;
    transition: 300ms all;
}
 
.service-item i,
.service-item1 i,
.service-item2 i{
    font-size: 60px;
    color: #8e9297;
}

.service-item h3,
.service-item1 h3,
.service-item2 h3{
    margin: 30px 0;
    color: #8e9297;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.05rem;
}  

.service-item p,
.service-item1 p,
.service-item2 p{
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    color: #8e9297;
}  

.service-item:hover,
.service-item1:hover,
.service-item2:hover{
    border: 2px solid #c59a6d;
    padding: 120px 14px;
}

.service-item:hover i,.service-item:hover h3,
.service-item1:hover i,.service-item1:hover h3,
.service-item2:hover i,.service-item2:hover h3{
color: #c59a6d;
}

.service-item:hover p,
.service-item1:hover p,
.service-item2:hover p{
    color: #000;
}

.service-icon i{
    border: 1px solid #c59a6d;
    padding: 6px 8px;
    transition: 300ms all;
    cursor: pointer;
    color: #c59a6d;
}

/* Check */
#check{
    height: 200px;
    background-color: #282f35;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
}

.check a{
    color: #fff;
    font-size: 14px;
    font-weight: 600px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 80px;
    border: 1px solid #c59a6d;
    transition: 200ms all;
    letter-spacing: 0.1rem;
}

.check a:hover{
    background-color: #c59a6d;
    letter-spacing: 0.05rem;
}

/* Latest Project */
#latest-project{
    margin-bottom: 90px;
}


.latest-project-items{
    display: flex;
}

.latest-project-item{
    width: 20%;
    height: 360px;
    overflow: hidden;
    position: relative;
}

.overlay{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #282f35;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms all;
}

.overlay-text p{
    color: #fff;
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
    text-align: center;
}

.overlay-text span{
    display: block;
    font-size: 28px;
    color: #c59a6d;
}

.overlay-text p::after{
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 30px;
}

.latest-project-item:hover .overlay{
  top: 0;
}

.more-behance a{
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #c59a6d;
    padding: 20px 80px;
    display: block;
    color: #fff;
    letter-spacing: 0.1rem;
    transition:  300ms all;
    margin: 80px 0;
}

.more-behance a:hover{
    letter-spacing: 0.05rem;
}

/* Partners */
#partners{
    background: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.411)),  url("../images/partners.jpg") no-repeat center;
    height: 500px;
    padding: 90px 0;
    margin-bottom: 90px;
    background-attachment: fixed;
}

#partners .tittle{
    color: #fff;
}

.partners-items{
    width: 750px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.5;
    background-color: none;
   }

.partners-item{
    opacity: 0.5;
    transition: 300ms all;
    cursor: pointer;
}

.partners-item:hover{
    opacity: 1;
}

/* About Us */
#about{
    margin-bottom: 90px;
}
.about-items{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 90px;
    display: flex;
}

.about-item{
    width: 25%;
    border: 1px solid #d8d9da;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 300ms all;
    margin: 30px;
    
}

.about-item-last{
    width: 18%;
    border: 1px solid #d8d9da;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.about-item-last p{
    font-size: 18px;
    color: #c59a6d;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    transition: 300ms all;
}

.about-item-last p::after{
    content: "+";
    display: block;
    font-size: 100px;
    color: #c59a6d;
    text-align: center;
    margin-top: 30px;
    font-weight: 100;
}

.about-item .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 300ms all;
    margin-bottom: 30px;
    opacity: 0.5;
    overflow: hidden;
    
}

.about-item .avatar img{
    width: 100%;
    height: auto;
    
}


.about-item p{
    font-size: 18px;
    color: #8e9297;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    transition: 300ms all;
}

.about-item p span{
    display: block;
    font-size: 16px;
}

.about-item p::after{
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #c59a6d;
    margin: 0 auto;
    margin-top: 30px;
} 

.about-item:hover{
    border: 1px solid #000;
}

.about-item:hover p{
    color: #000;
}

.about-item:hover .avatar{
    opacity: 1;
    transform: scale();
}

.about-item:hover p::after{
    width: 50px;
    transition: 300ms all;
}

/* Latest Start */
#latest-tweet{
    background: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.411)),  url("../images/latest-tweet.jpg") no-repeat center;
    padding: 90px 0;
    background-attachment: fixed;
    color: #fff;
}

.latest-tweet{
    width: 620px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.latest-tweet p{
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: 0.05rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
}

.latest-tweet span{
    display: block;
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 50px;
}

.latest-tweet-controls ul li{
    text-indent: -9999px;
    display: inline-block;
    width: 9px;
    height: 9px;
    border: 1px solid #c59a6d;
    transition: 300ms all;
    cursor: pointer;
    margin-right: 10px;
}

.latest-tweet-controls ul li:last-child{
    margin:0;
}

.latest-tweet-controls ul li:hover{
    background-color: #c59a6d;
}

/* Contact Us */
#contact{
    background-color: #282f35;
    color: #fff;
    padding: 90px 0;
}

.contact-content{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contact-left{
    width: 30%;
}
.contact-left h3{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.contact-left h3 i{
    font-size: 20px;
    color: #c59a6d;
    margin-right: 20px;
}

.contact-left p{
    line-height: 36px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

ul.social li{
    display: inline-block;
    margin-right: 40px;
}

.contact-right{
    width: 65%;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form input[type="text"]{
    width: 48%;
    height: 50px;
    background-color: #1e2429;
    color: #fff;
    margin-bottom: 50px;
    transition: 500ms all;
    border-top: 3px solid #c59a6d transparent;
}

.contact-form input[type="text"]:hover,
.contact-form input[type="text"]:focus{
    border-top: 3px solid #c59a6d;
}

.contact-form textarea{
    width: 100%;
    background-color: #1e2429;
    height: 155px;
    color: #fff;
    padding: 30px;
    resize: none;
    margin-bottom: 30px;
}

.contact-form input[type="submit"]{
    background-color: #c59a6d;
    padding: 20px 60px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05rem;
    transition: 300ms all;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover{
    letter-spacing: 0.1rem;
}

/* Footer */
#footer{
    background-color: #282f35;
    border-bottom: 3px solid #c59a6d;
    padding: 80px 0;
}

.footer{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}

.footer p{
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.footer p span{
    color: #c59a6d;
}

.footer a{
    color:#fff;
    text-transform: uppercase;
    font-weight: 500;
}

.footer a i{
    color: #c59a6d;
    margin-left: 10px;
}

/* Responsive */


@media only screen and (max-width: 1170px){
    .service-items{
    flex-wrap: wrap;
    height: auto;
    }
    .service-item,
    .service-item1,
    .service-item2{
    width: 100%;
    margin-bottom: 30px;
}
.latest-project-items{
    flex-wrap: wrap;
}

.latest-project-item{
    width: 33.333%;
}
.about-items{
    width: 90%;
}
}

@media only screen and (max-width: 768px){
    .header-text h1{
        font-size: 30px;
    }
    .service{
        width: 90%;
    }
    .service-items{
    flex-wrap: wrap;
    height: auto;
    }
    .service-item,
    .service-item1,
    .service-item2{
    width: 100%;
    margin-bottom: 30px;
}
.partners-items{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.5;
    background-color: none;
   }

.partners-item{
    opacity: 0.5;
    transition: 300ms all;
    cursor: pointer;
}
.about-items{
    width: 90%;
    flex-wrap: wrap;
}
.about-item{
    width: 100%;
    margin-bottom: 30px;
}
.about-item-last{
    width: 100%;
}
.latest-tweet{
    width: 50%;
}
.contact-content{
    flex-wrap: wrap;
    flex-direction: column;
}
.contact-left{
    width: 100%;
    margin-bottom: 50px;
}
.contact-right{
    width: 100%;
}
.footer{
    flex-wrap: wrap;
    flex-direction: column;
}
.footer p{
    margin-bottom: 50px;
}
}

@media only screen and (max-width: 567px){
.latest-project-items{
    flex-wrap: wrap;
}

.latest-project-item{
    width: 100%;
}
}
